<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--GOOGLE ICON & FONT-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-gradient" id="nav">
        <div class="container">
            <ul class="myname">
                <li><h1 class="mname">@Html.ActionLink("Mirko Lawrence Panes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</h1></li>
            </ul>

            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1" id="options">
                    <!--ABOUT-->
                    <li>
                        <a href="~/Home/Index" id="About">
                            <i class="material-icons" id="AboutIcon">
                                account_box
                            </i>
                            About Me
                        </a>
                    </li>

                    <!--PORTFOLIO-->
                    <li>
                        <a href="~/Home/Portfolio" id="Portfolio">
                            <i class="material-icons" id="PortfolioIcon">
                                source
                            </i>
                            Portfolio
                        </a>
                    </li>

                    <!--RESUME-->
                    <li>
                        <a href="~/Home/Resume" id="Resume">
                            <i class="material-icons" id="ResumeIcon">
                                article
                            </i>
                            Resume
                        </a>
                    </li>

                    <!--CONTACT-->
                    <li>
                        <a href="~/Home/Contact" id="Contact">
                            <i class="material-icons" id="ContactIcon">
                                call
                            </i>
                            Contact
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
